<h2>Projects</h2>
<ul class="nav nav-list">
  <% projects.each do |project| %>
      <div class="well sidebar-nav blocks"><p><%= link_to project.name, project_path(project) %></p><%= project.description %></div>
  <% end %>
</ul>