<h2><%= project.name %></h2>
<ul class="nav nav-list">
    <% project.todos.each do |todo| %>
      <div class="well sidebar-nav blocks"><p><%= link_to todo.name, project_todo_path(project, todo) %></p>created at <%= todo.created_at %></div>
  <% end %>
</ul>