<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li><%= link_to "Add Project", new_project_path %></li>
      </ul>
    </div>
  </div>
  <div class="span9">
    <h2>Projects</h2>
    <ul class="nav nav-list projects">
    <% @projects.each do |project| %>
        <li class="well sidebar-nav"><p><%= link_to project.name, project_path(project) %></p><%= project.description %></li>
    <% end %>
    </ul>
  </div>
</div>