<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li><%= link_to 'Add Todo', new_project_todo_path(@project), class: 'add' %></li>
        <li class="form"><%= render partial: "add_todo", locals: { project: @project, todo: @todo } %></li>
      </ul>
    </div>
  </div>
  <div class="span9 tasks">
    <%= render partial: 'projects/project_todos', locals: { project: @project } %>
  </div>
</div>


