<h2><%= @todo.name %></h2>
<ul class="nav nav-list projects">
  <% @todo.tasks.each do |task| %>
      <% if !task.description.nil? %>
        <li class="well sidebar-nav"><p><%= task.description  %></p>created at <%= task.created_at %></li>
      <% end %>
  <% end %>
</ul>