<h2><%= @todo.name %></h2>
<ul class="nav nav-list">
  <% @todo.tasks.each do |task| %>
      <% if !task.description.nil? %>
        <div class="well sidebar-nav blocks"><p><%= task.description  %></p>created at <%= task.created_at %></div>
      <% end %>
  <% end %>
</ul>