<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li><%= link_to 'Add Task', new_task_path %></li>
      </ul>
    </div>
  </div>
  <div class="span9">
    <h2><%= @todo.name %></h2>
    <ul class="nav nav-list projects">
    <% @todo.tasks.each do |task| %>
        <li class="well sidebar-nav"><p><%= task.description  %></p>created at <%= task.created_at %></li>
    <% end %>
    </ul>
  </div>
</div>