<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li><%= link_to 'Add Task', new_task_path, class: 'add' %></li>
        <li class="form"><%= render partial: "add_task", locals: {todo: @todo, task: @task} %></li>
      </ul>
    </div>
  </div>
  <div class="span9 tasks">
    <%= render partial: 'todo_tasks', locals: {todo: @todo} %>
  </div>
</div>